<h1>Thanks! For Contacting Us</h1>
<button class="btn btn-primary"><a href="/" style="color: white">Go To Home Page</a></button>
<button class="btn btn-primary"><a href="/contact" style="color: white">Contact Us</a></button>